language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script: 
  - curl --silent http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction --prefer-dist

notifications:
  email: joris.w.dewit@gmail.com
